#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 50% 50%;
}


#image-track {
    display: flex;
    gap: 4vmin;
    flex-wrap: nowrap;
    position: absolute; left: 50%; top: 12.5%; transform: translate(0%, 0%);
}

/*Responsive*/

@media (max-width: 768px) {
    #image-track {
        gap: 1vw;
    }
    #image-track > .image {
        width: 30vw;
        height: 42vw;
    }
}

@media (max-width: 480px) {
    #image-track {
        gap: 0.5vw;
    }
    #image-track > .image {
        width: 40vw;
        height: 56vw;
    }
}